li{
    border: 2px black solid;
    width: 400px;
}

#ul1{
    list-style-type: square;
    list-style-position: inside;
}

#ul2{
    list-style-image: url("../../../image/K19 Treinamentos (small).png");
}

ol{
    list-style-type: upper-roman;
}
