div{
    margin: 70px;
    border: 1px solid black;
    background-color: yellow;
    width: 100px;
    height: 100px;
}

#div1{
    transform: translate(50px, -20px);

    /* Webkit: Chrome, Safari */
    -webkit-transform: translate(50px, -20px);
}

#div2{
    transform: scale(0.5, 2);

    /* Webkit: Chrome, Safari */
    -webkit-transform: translate(0.5, 2);
}

#div3{
    transform: rotate(15deg);

    /* Webkit: Chrome, Safari */
    -webkit-transform: rotate(15deg);
}

#div4{
    transform: skew(10deg, -45deg);

    /* Webkit: Chrome, Safari */
    -webkit-transform: skew(10deg, -45deg);
}

/* Moz: Firefox */
/* substituir "webkit" por "moz" */

/* O: Opera */
/* substituir "webkit" por "o" */

/* Ms: Internet Explorer */
/* substituir "webkit" por "ms" */