div{
    width: 400px;
    height: 200px;
    margin: 10px;
    border-style: solid;
}

#div1{
    border-width: thin;
}

#div2{
    border-width: thick;
}

#div3{
    border-width: 2px;
}

#div4{
    border-width: 10px;
}