div{
    width: 400px;
    height: 200px;
    border-top-style: dashed;
    border-top-color: red;
    border-top-width: 2px;

    border-right-style: dotted;
    border-right-color: #00ff00;
    border-right-width: 8px;

    border-bottom-style: double;
    border-bottom-color: rgb(0,0,255);
    border-bottom-width: 14px;

    border-left-style: solid;
    border-left-color: black;
    border-left-width: 20px;
}