[title]{
    border: 4px solid red;
}

[title='Pagina 3']{
    color: green;
}

[title~='K19']{
    padding: 10px;
    background: yellow;
}

[title^='Link']{
    margin-right: 30px;
}

[href$='link']{
    outline: 4px solid blue;
}

[src*='large']{
    border: 4px solid green;
}

[href|='#link']{
    font-size: 30px;
}