/* transparent - Faz o background ser transparente (padrão).
   inherit - Assume o valor da mesma propriedade no elemento HTML pai.*/

p.yellow{
    background-color: yellow;
}

p.c1a4cd{
    background-color: #c1a4cd;
}

p.transparent{
    background-color: transparent;
}