p.aqua{
    color: rgb(0,255,255);
}

p.black{
    color: rgb(0,0,0);
}

p.blue{
    color: rgb(0,0,255);
}

p.fuchsia{
    color: rgb(255,0,255);
}

p.gray{
    color: rgb(128,128,128);
}

p.green{
    color: rgb(0,128,0);
}

p.lime{
    color: rgb(0,255,0);
}

p.marron{
    color: rgb(128,0,0);
}

p.navy{
    color: rgb(0,0,128);
}

p.aqua{
    color: rgb(0,255,255);
}

p.olive{
    color: rgb(128,128,0);
}

p.purple{
    color: rgb(128,0,128);
}

p.red{
    color: rgb(255,0,0);
}

p.silver{
    color: rgb(192,192,192);
}

p.teal{
    color: rgb(0,128,128);
}

p.white{
    color: rgb(255,255,255);
}

p.yellow{
    color: rgb(255,255,0);
}