p.aqua{
    color: #00FFFF;
}

p.black2{
    color: #000000;
}

p.blue{
    color: #0000FF;
}

p.fuchsia{
    color: #FF00FF;
}

p.gray{
    color: #808080;
}

p.green{
    color: #008000;
}

p.lime{
    color: #00FF00;
}

p.marron{
    color: #800000;
}

p.navy{
    color: #000080;
}

p.olive{
    color: #808000;
}

p.purple{
    color: #800080;
}

p.red{
    color: #FF0000;
}

p.silver{
    color: #C0C0C0;
}

p.teal{
    color: #008080;
}

p.white{
    color: #FFFFFF;
}

p.yellow{
    color: #FFFF00;
}
