/* A propriedade outline-color define a cor das bordas de um elemento
   HTML. Essa propriedade aceita o valor transparent(padrão) ou qualquer
   cor CSS.

   color - Uma cor CSS.
   invert - Faz a borda ser transparente.
   inherit - Assume o valor da mesma propriedade no elemento HTML pai. */

p.color{
    outline-style: solid;
    padding: 20px;
    width: 150px;
    outline-color: green;
}

p.invert{
    outline-style: solid;
    padding: 20px;
    width: 150px;
    outline-color: invert;
}