/* none - Texto normal (padrão).
    capitalize - A primeira letra de cada palavra será transformada em maiúscula.
    uppercase - Todas as letras do texto serão transformadas em maiúsculas.
    lowercase - Todas as letras do texto serão transformadas em minúsculas.
    inherit - Assume o valor da mesma propriedade no elemento HTML pai. */

p.none{
    text-transform: none;
}

p.capitalize{
    text-transform: capitalize;
}

p.uppercase{
    text-transform: uppercase;
}

p.lowercase{
    text-transform: lowercase;
}