/* normal - Espaçamento padrão definido para a fonte utilizada (padrão).
   medida - A medida corresponde ao espaçamento extra desejado. Esse valor
   pode ser negativo.
   inherit - Assume o valor da mesma propriedade no elemento HTML pai. */

p.text-0px{
    word-spacing: 0;
}

p.text-4px{
    word-spacing: 4px;
}

p.text--4px{
    word-spacing: -4px;
}